* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ddd;
}

.navbar-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        display: none;
    }

    .navbar-links li {
        margin: 15px 0;
        text-align: center;
    }

    .navbar-toggle {
        display: block;
    }
    
    .navbar.active .navbar-links {
        display: flex;
    }
}
